<div class="row">

  <div class="large-12 columns">
    <h2><%= @property.name %> Admins</h2>
    <% @property.users.each do |user| %>
      <div class="row">
        <div class="large-2 columns small-3"><img src="http://placehold.it/80x80&text=[img]"/></div>
          <div class="large-10 columns">
            <p><strong><%= user.name %></strong></p>
            <p><%= user.email %></p>
          </div>
      </div>
      <hr/>
    <% end %>
  </div>

</div>

<%= render partial: 'shared/footer' %>