<div class="row listing-shadow">
  <div class="row">
    <div class="panel header-panel">
      <div class="large-12 columns">
        <h1>New Admin</h1>
        <p>Adds an admin to the <%= @property.name %> account. Create contacts for electricians, plumbers, contractors, etc. on the <u><a href="<%= new_property_service_provider_path(@property) %>">Contacts page</a></u>.</p>
      </div>
    </div>
  </div>

  <div class="row listing-shadow">
    <div class="columns large-12">
      <%= render 'form' %>
    </div>
  </div>

  <div class="row">
    <div class="columns large-12">
      <%= link_to 'Back', property_path(@property) %>
    </div>
  </div>
</div>