<div class="row first-row listing-shadow">
  <div class="large-offset-1 large-10 columns end">
    <% if @items.blank? %>
      <p>Create an item or a to-do.</p>
    <% else %>
      <% @items.each do |item| %>
        <%= render partial: 'item', locals: {item: item} %>
      <% end %>
    <% end %>
  </div>

</div>

<%= render partial: 'shared/footer' %>