<div class="row first-row listing-shadow">
  <div class="large-offset-1 large-10 columns end">
    <% if @items.blank? %>
      <p>Create an item or a to-do.</p>
    <% else %>
      <% @items.each do |item| %>
        <%= render partial: 'item', locals: {item: item} %>
      <% end %>
    <% end %>
  </div>

</div>

<footer class="row">
  <div class="large-12 columns">
    <hr/>
    <div class="row">
      <div class="large-5 columns">
        <p>© Copyright 2015 House Chief.</p>
      </div>
      <div class="large-7 columns">
        <ul class="inline-list right">
          <li><%= link_to 'New note', new_property_item_path(@property) %></li>
          <li><%= link_to 'Property Settings', edit_property_path(@property) %></li>
        </ul>
      </div>
    </div>
  </div>
</footer>