<footer>
  <div class="footer-content">
    <ul class="inline-list right">
      <% if @property && @property.persisted? %>
        <li><%= link_to 'New note', new_property_item_path(@property) %></li>
        <li><%= link_to 'Property settings', edit_property_path(@property) %></li>
      <% else %>
        <li>© HouseChief 2016</li>
        <li>About<%# link_to 'New note', new_property_item_path(@property) %></li>
        <li>Contact<%# link_to 'Edit this page', edit_property_path(@property) %></li>
      <% end %>
    </ul>
  </div>
</footer>
