<% if @property.present? %>
  <ul class="inline-list">
    <li><%= link_to 'New Note', new_property_item_path(@property) %></li>
    <li><%= link_to 'Add Contact', new_property_service_provider_path(@property) %></li>
    <li><%= link_to 'Add Property Mgr', new_property_user_path(@property) %></li>
    <li><%= link_to 'Property Settings', edit_property_path(@property) %></li>
  </ul>
<% end %>