<div class="row">
  <div class="columns small-12 end">
  	<h1>About</h1>
  	<h2>Managing properties can be complicated. Housechief provides the tools to help you stay organized of your property.</h2>
  	<p>My parents-in-law live in a rural property where all the systems need constant maintenance -- getting the number for the well pump repair company, water filtration system, electricians, plumbers, septic, garbarge and recycling companies, wireless network, cable, telephone booster services, security alarm company, clearing brush to prevent fires, HVAC filter replacement, fride ice maker repair, water timer, outdoor lights timer, furnace repair.</p>
  	<p>Housechief was created to help me keep track of all the notes, documents, contact cards, photos, and reminders that my father-in-law kept emailing me. :) </p>
  </div>
</div>