<div class="row">
  <div class="columns large-12 medium-12 small-12">
    <h1 class="welcome-title">Housechief</h1>
  </div>
  <div class="columns small-12 text-center">
    <h2>Managing properties can be complicated. Housechief provides the tools to help you stay organized of your property.</h2>
  </div>

  <div class="columns large-5 medium-12 small-12">
    <div class="calls-to-action">
      <h3>100% free.</h3>
      <a href="<%= new_user_registration_path %>" class="button large round">Sign up now</a>
      <p>Already signed up?<br/><a href="<%= new_user_session_path %>"</a><u>Login</u></a></p>
    </div>
  </div>

  <div class="columns large-7 medium-12 small-12">
    <div class="sub-bullets">
      <ul class="inline-list">
        <li>Get organized</li>
        <li>Set reminders</li>
        <li>Save notes and photos</li>
      </ul>
      <ul class="inline-list">
        <li>Send invites</li>
        <li>Collaborate</li>
        <li>Schedule recurring tasks</li>
      </ul>
    </div>
  </div>
</div>
