<div class="row background-image">
  <div class="large-3 columns welcome-sidebar">
    <div class="calls-to-action">
      <h3>100% free</h3>
      <p>Click here to sign up</p>
      <p>Already a member?</p>
      <p>Login ></p>
    </div>
  </div>

  <div class="large-9 columns transparency">
    <div class="welcome-splash-container">
      <div>
        <h1 class="welcome-title">House Chief</h1>
        <div class="sub-bullets">
          <ul class="inline-list">
            <li>Get organized</li>
            <li>Save notes and photos</li>
            <li>Set reminders</li>
          </ul>
          <ul class="sub-bullets inline-list">
            <li>Schedule recurring tasks</li>
            <li>Send invites</li>
            <li>Collaborate</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>