<div class="row">
  <div class="columns small-12 end">
  	<h1>Privacy Policy</h1>

  	<h3>TL;DR:</h3>
  	<p>We are not in the business of selling your information to others. When you upload a file we use SSL / TLS encryption to protect your data in transit.</p>
  	<p>If you have any questions, please email privacy@housechief.com.</p>

  	<h2>Information we collect</h2>
  	<h3>Account Information</h3>
  	<p>When you register an account, we collect personal information such as your email address.</p>

  	<h3>IP Addresses and "Metadata"</h3>
  	<p>We obtain IP addresses from users in order to monitor and improve the performance of our Service, and also to prevent fraud and abuse.</p>
  	<p>We may also collect non-personally identifying metadata relating to your computer or browser. This used for analytical and development purposes, such as knowing what operating systems people are using. This helps us learn where we need to improve the Service.</p>

  	<h3>Cookies</h3>
  	<p>A cookie is a small amount of data, which often includes an anonymous unique identifier that is sent to your browser from a web site's computers and stored on your computer's hard drive. We use cookies to keep you logged in when you come back to the site, and also to store analytics information.</p>
  	<p>You can disable cookies in your web browser's preferences. If you do this, we won't be able to "remember" your login state and you'll have to login every time you visit the site.</p>

  	<h3>Information Relating to Children</h3>
  	<p>Minors under the age of 13 are prohibited from using Housechief.</p>

  	<h2>Information we share with others</h2>
  	<p>We don't sell or rent your personal information to others. We only use your information to provide and operate the Service, and we do not share your information with third parties, with limited exceptions.</p>
  	<p>We use some third party providers in the course of operating the Service. Our third party providers are under agreements to use your information in strict confidence and not sell or lease it to others.</p>
  	<p>We may share your personal information to respond to subpoenas, court orders, or legal process, to establish or exercise our legal rights or, defend against legal claims and if in our judgment such disclosure is required or appropriate. Generally, we will try to notify you when your information is shared under legal process, but this may not always be possible (due to gag orders, etc.)</p>
  	<p>We may share your personal information if we believe it is necessary in order to investigate, prevent, or take action regarding illegal activities, suspected fraud, situations involving potential threats to the physical safety of any person, violations of our various terms of use, or as otherwise required by law.</p>
  	<p>As we continue to develop our business, we may also buy or sell all or part of our business. In such transactions, personally identifiable information you have shared with us is generally one of the business assets that will be transferred. The transferred personally identifiable information will remain subject to the promises made in this privacy policy or subsequent policies to which you have consented.</p>

  	<h2>Changes to this Privacy Policy</h2>
  	<p>Housechief may revise, modify or update this policy. We will notify you about significant changes in the way we treat personal information by sending a notice to your account email address or by placing a prominent notice on our site.</p>
  	<p>The Housechief web site is open source, and you can view revisions to this policy by looking at the change history to this file on GitHub.</p>

  	<h2>Deletion of Personal Information</h2>
  	<p>You can update your account information at any time.</p>
  	<p>You can also request that your account be deleted by emailing support@housechief.com, however, please note that some personal information, primarily your contact information, may remain in our records to the extent necessary to protect our legal interests or document compliance with regulatory requirements.</p>

  	<h2>Contacting Us</h2>
  	<p>If you have a privacy question or concern, please email Christopher Lake, our Privacy Officer, at <a href="mailto:privacy@housechief.com">privacy@housechief.com</a>.</p>
  	<p>Updated April 11, 2017.</p>
  </div>
</div>
