<div class="row">
  <div class="columns small-12 end">
  	<h1>Terms of Service</h1>
    
    <p>Housechief enables its users ("they", "their", "you" or "your"), via its website (<a href="http://www.housechief.com">http://www.housechief.com</a>) (the "Website"), its API, and its services or other means (collectively, the Housechief), to upload, create, edit, and delete information pertaining to property management responsibilities, using the Housechief website or their existing web development skills. Housechief is owned and operated by LoveLake Ventures, Inc., a California S Corporation ("its", Housechief, "we" or "us").</p>
    <p>Your use of the Website and the Housechief (the "Services") is subject to the terms and conditions set forth in these Terms of Service (the "Terms of Service"). Please review the terms of this Agreement carefully. Once accepted, this Agreement becomes a binding legal commitment. If you have any questions, you can reach the Housechief team at <a href="mailto:human@housechief.com">human@housechief.com</a>.</p>
    
    <h2>1. Definitions</h2>
    <p>"Customer" means the individual accepting the terms of this Agreement or the entity such individual represents, as applicable.</p>
    <p>"Customer Application" means a software application that interfaces with the Housechief Services and includes any services (web-based or other services) made available by Customer through that application.</p>
    <p>"Customer Data" means data and other information made available to Housechief through the use of the Housechief Services under this Agreement, including photographs, fax documents, metadata and callbacks.</p>
    <p>"Documentation" means all of the instructions, code samples, on-line help files and technical documentation made available by Housechief for the Housechief Services.</p>
    <p>"Emergency Services" means services that allow a user to connect with emergency services personnel or public safety answering points such as 911 or E911 services.</p>
    <p>"End User" means an end user of a Customer Application.</p>
    <p>"Housechief Properties" means the Housechief website, Housechief API, Documentation, and technical support made available by Housechief to Customer in connection with the Housechief Services.</p>
    <p>"Housechief Services" means the services provided by Housechief to Customer under this Agreement, including all programs, features, functions and report formats, and subsequent updates or upgrades of any of the foregoing made generally available by Housechief, including without limitation the Housechief website, Housechief APIs and any software provided to Customer in connection with its use of the Housechief Services.</p>
    
    <h2>2. Housechief Customer Program and Services</h2>
    
    <h3>2.1 Provision of Services.</h3>
    <p>Housechief will make the Housechief Services available to Customer. Subject to the terms and conditions of this Agreement, Housechief grants Customer a non-exclusive, revocable right to:</p>
    <ul>
      <li>Upload, create, edit, and delete documents and written records through the Housechief website;</li>
      <li>Use the Documentation and Housechief APIs as needed to develop Customer Applications;</li>
      <li>Offer and make the Housechief Services available to End Users in connection with the use of each Customer Application, in accordance with the Documentation; and Otherwise use the Housechief Properties solely in connection with and as necessary for Customer's activities hereunder.</li>
    </ul>
    
    <h3>2.2 Data Storage.</h3>
    <p>Customer acknowledges that, unless expressly agreed otherwise in a writing signed by Customer and Housechief, data storage is not guaranteed by Housechief and agrees that Housechief shall not have any liability whatsoever for any damage, liabilities, losses (including any loss of data or profits) or any other consequences that Customer may incur with respect to the loss or deletion of Customer Data.</p>
    
    <h3>2.2.1. Protected data.</h3>
    <p>All customers agree to not use Housechief to transmit protected data which may fall under any part of the current PCI DSS, HIPAA or HITECH.</p>
    
    <h3>2.3 Use of Housechief Services.</h3>
    <p>Customer will be solely responsible for all use (whether or not authorized) of the Housechief Services and Documentation under its account, including for the quality and integrity of Customer Data and each Customer Application. Customer will ensure that it has an agreement with each End User ("End User Agreement") that enables Housechief to use all Customer Data as necessary to provide the Services and that protects Housechief's rights to the same extent as the terms of this Agreement.</p>
    <p>Customer will promptly notify Housechief if it becomes aware of any breach of the terms of the End User Agreement that may affect Housechief. Customer will take all reasonable precautions to prevent unauthorized access to or use of the Housechief Services and notify Housechief promptly of any such unauthorized access or use.</p>
    
    <h3>2.4 Restrictions.</h3>
    <p>Except as expressly provided in Section 2.1 (Provision of Services), Customer will not transfer, resell, lease, license or otherwise make available the Housechief Services to third parties. Customer will not use the Housechief Services to access or allow access to Emergency Services. Customer will ensure that the Housechief Services provided hereunder are used in accordance with all applicable laws, regulations and third party rights, as well as the terms of this Agreement.</p>
    <p>Specifically and without limitation, Customer will ensure that Housechief is entitled to use the Customer Data as needed to provide the Housechief Services and will not use the Housechief Services in any manner that violates any data protection statute, regulation, order or similar law.</p>

    <h3>2.5 Changes to Service.</h3>
    <p>Customer acknowledges that the features and functions of the Housechief Services, including the Housechief APIs, are subject to change and not guaranteed to maintain compatibility with any Customer Application. It is Customer's responsibility to ensure that calls or requests Customer makes to the Housechief Services are compatible with then-current Housechief APIs.</p>
    
    <h2>3. Disclaimer</h2>
    <p>Housechief HEREBY DISCLAIMS ANY AND ALL WARRANTIES, EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED TO WARRANTIES OF MERCHANTABILITY, TITLE, NON-INFRINGEMENT, AND FITNESS FOR A PARTICULAR PURPOSE AND WARRANTIES RELATED TO THIRD PARTY EQUIPMENT, MATERIAL, SERVICES OR SOFTWARE. Housechief'S SERVICES AND PROPERTIES ARE PROVIDED "AS IS" TO THE FULLEST EXTENT PERMITTED BY LAW. TO THE EXTENT SUCH DISCLAIMER CONFLICTS WITH APPLICABLE LAW, THE SCOPE AND DURATION OF ANY APPLICABLE WARRANTY WILL BE THE MINIMUM PERMITTED UNDER SUCH LAW.</p>

    <h2>4. Exclusion of Damages; Limitation Of Liability</h2>
    <p>UNDER NO CIRCUMSTANCES AND UNDER NO LEGAL THEORY, WHETHER IN TORT, CONTRACT, OR OTHERWISE, WILL Housechief BE LIABLE TO CUSTOMER FOR ANY INDIRECT, SPECIAL, INCIDENTAL, CONSEQUENTIAL OR PUNITIVE DAMAGES OF ANY CHARACTER, INCLUDING, WITHOUT LIMITATION, DAMAGES FOR LOSS OF GOODWILL, LOST PROFITS, LOST SALES OR BUSINESS, WORK STOPPAGE, COMPUTER FAILURE OR MALFUNCTION, LOST DATA, OR FOR ANY AND ALL OTHER DAMAGES OR LOSSES, EVEN IF Housechief HAS BEEN ADVISED, KNEW OR SHOULD HAVE KNOWN OF THE POSSIBILITY OF SUCH DAMAGES.</p>
    <p>UNDER NO CIRCUMSTANCES AND UNDER NO LEGAL THEORY, WHETHER IN TORT, CONTRACT, OR OTHERWISE, WILL Housechief BE LIABLE TO CUSTOMER FOR ANY DIRECT DAMAGES, COSTS, OR LIABILITIES IN EXCESS OF THE AMOUNTS PAID BY CUSTOMER DURING THE TWELVE MONTHS PRECEDING THE INCIDENT OR CLAIM.</p>
    <p>THE PROVISIONS OF THIS SECTION ALLOCATE THE RISKS UNDER THIS AGREEMENT BETWEEN THE PARTIES, AND THE PARTIES HAVE RELIED ON THE LIMITATIONS SET FORTH HEREIN IN DETERMINING WHETHER TO ENTER INTO THIS AGREEMENT.</p>
    <p>THE Housechief SERVICES ARE NOT INTENDED TO SUPPORT OR CARRY EMERGENCY CALLS TO ANY EMERGENCY SERVICES. NEITHER Housechief NOR ITS REPRESENTATIVES WILL BE LIABLE UNDER ANY LEGAL OR EQUITABLE THEORY FOR ANY CLAIM, DAMAGE, OR LOSS (AND CUSTOMER WILL HOLD Housechief HARMLESS AGAINST ANY AND ALL SUCH CLAIMS) ARISING FROM OR RELATING TO THE INABILITY TO USE THE Housechief SERVICES TO CONTACT EMERGENCY SERVICES.</p>
    
    <h2>5. Termination</h2>
    
    <h3>5.1 Term.</h3>
    <p>The term of this Agreement will commence on the date this Agreement is accepted by Customer and continue for a period of twelve months. This Agreement will automatically renew for additional one-year terms unless either party provides notice of non-renewal no less than 60 days prior to the end of a renewal term.</p>

    <h3>5.2 Termination.</h3>
    <p>Housechief or Customer may terminate this Agreement at any time for any reason or no reason, upon notice to the other party. The parties agree that email is a valid delivery method for the purpose of providing notice of termination, in addition to the allowable delivery methods provided for in Section 7.6 (Notices).</p>

    <h3>5.3 Survival.</h3>
    <p>Upon termination or expiration of this Agreement, Customer's payment obligations, the terms of this Section 6.3 and the terms of the following Sections will survive: Section 2.2 (Data Storage), Section 2.3 (Use of Housechief Services), Section 2.4 (Restrictions), Section 4 (Disclaimer), Section 5 (Exclusion of Damages; Limitation of Liability), Section 6 (Indemnification; Governing Law) and Section 7 (General).</p>

    <h2>6. Indemnification; Governing Law</h2>
    
    <h3>6.1 Indemnification by Customer.</h3>
    <p>Customer will defend, indemnify and hold Housechief harmless against any actual or threatened claim, loss, liability, proceeding, third-party discovery demand, governmental investigation or enforcement action arising out of or relating to Customer's activities under this Agreement or Customer's acts or omissions in connection with the provision of the Customer Application, including without limitation, any intellectual property claims relating to the Customer Application and any violation by Customer or its End Users of the terms of Section 2.4 (Restrictions) ("Claim"). Housechief will cooperate as fully as reasonably required in the defense of any Claim, at Customer's expense. Housechief reserves the right, at Customer's expense, to retain separate counsel for Housechief or, if Customer has not responded reasonably to the applicable Claim, to assume the exclusive defense and control of any matter in which Customer is a named party and that is otherwise subject to indemnification under this Section. Customer will pay all costs, reasonable attorneys' fees and any settlement amounts or damages awarded against Housechief in connection with any Claim. Customer will also be liable to Housechief for any costs and attorneys' fees Housechief incurs to successfully establish or enforce its right to indemnification under this Section.</p>

    <h3>6.2 Governing Law.</h3>

    <p>This Agreement will be governed by the laws of the State of California, exclusive of its rules governing choice of law and conflict of laws. This Agreement will not be governed by the United Nations Convention on Contracts for the International Sale of Goods.</p>
    
    <h2>7. General</h2>

    <h3>7.1 Assignment.</h3>
    <p>Customer will not assign or otherwise transfer this Agreement, in whole or in part, without Housechief's prior written consent. Any attempted assignment, delegation, or transfer in violation hereof will be null and void.</p>
    
    <h3>7.2 Amendment.</h3>
    <p>Housechief may amend this Agreement from time to time, in which case the new Agreement will supersede prior versions. Housechief may notify Customer not less than 10 days prior to the effective date of any such amendment and Customer's continued use of the Housechief Services following the effective date of any such amendment may be relied upon by Housechief as Customer's consent to any such amendment. Housechief's failure to enforce at any time any provision of this Agreement does not constitute a waiver of that provision or of any other provision of the Agreement.</p>
    
    <h3>7.3 Waiver.</h3>
    <p>Any waiver of any breach or default by either party will not constitute a waiver of any other right or any subsequent breach or default. Failure or delay by either party to enforce any provision of this Agreement will not be deemed a waiver of future enforcement of that or any other provision.</p>
    
    <h3>7.4 Relationship.</h3>
    <p>Each party is an independent contractor in the performance of each and every part of this Agreement. Each party will be solely responsible for all of its employees and agents and its labor costs and expenses arising in connection therewith and for any and all claims, liabilities or damages or debts of any type whatsoever that may arise on account of its activities, or those of its employees or agents, in the performance of this Agreement. Customer does not have the authority to commit Housechief in any way and will not attempt to do so or imply that it has the right to do so.</p>

    <h3>7.5 Unenforceability.</h3>
    <p>In the event that any provision of this Agreement is held by a court or other tribunal of competent jurisdiction to be unenforceable, such provision will be limited or eliminated to the minimum extent necessary to render such provision enforceable and, in any event, the remainder of this Agreement will continue in full force and effect.</p>
    
    <h3>7.6 Notices.</h3>
    <p>Any notice required or permitted to be given hereunder will be given in writing to the receiving party by personal delivery, certified mail, return receipt requested, by email with proof of receipt, or by overnight delivery. Housechief may use Customer's current address, as provided by Customer in connection with billing and payment activities. If Customer has not provided Housechief with a valid mailing address, Housechief may deliver any notice via the email address associated with Customer's account.</p>

    <h3>7.7 Other Terms.</h3>
    <p>This Agreement supersedes all prior and contemporaneous proposals, statements, sales materials or presentations and agreements, oral and written. No oral or written information or advice given by Housechief, its agents or employees will create a warranty or in any way increase the scope of the warranties in this Agreement. There will be no force or effect to any different terms of any related purchase order or similar form even if signed by the parties after the date hereof, except pursuant to an amendment to this Agreement in accordance with 7.2 above.</p>

    <h3>7.8 Force Majeure.</h3>
    <p>A party is not liable under this Agreement for non-performance caused by events or conditions beyond that party's control (each, a "Force Majeure Event") if the party makes reasonable efforts to perform. Either party may terminate this Agreement on written notice to the other party if the Force Majeure Event continues more than 30 days.</p>
    <p>Updated: April 2017</p>
  </div>
</div>
