Welcome,

You were added to <%= "#{@from_user.name}'s" %> property on <a href="http://www.housechief.com">Housechief</a>.

Housechief helps you build a "house manual" to keep track of all the work that goes into a property.

<a href="#" class="button">Click here to check it out</a>

If you have any questions, you can reach us anytime at <a href="mailto:chief@housechief.com">chief@housechief.com</a>