<p>You were invited by <%= @from_user.name %> to join them on <a href="http://www.housechief.com">Housechief</a>.</p>
<p>Housechief helps you stay on top of all the work that goes into a property.</p>
<p><a href="#" class="button">Click here to check it out</a></p>
<p>If you have any questions, you can reach us anytime at <a href="mailto:housechieftain@gmail.com">via email</a></p>
<p>
Cheers,<br>
Housechief
</p>
