<h1>Edit <u><%= @item.name %></u></h1>

<div class="row">
  <%= render 'form' %>
</div>

<div class="row">
  <%= link_to 'Show', property_item_path(@property, @item) %> |
  <%= link_to 'Back', property_items_path %>
</div>
