<div class="row listing-shadow">
  <div class="row">
    <div class="panel header-panel">
      <div class="large-12 columns">
        <h1>New note</h1>
      </div>
    </div>
  </div>

  <div class="row listing-shadow">
    <div class="columns large-12">
      <%= render 'form' %>
    </div>
  </div>

  <div class="row">
    <div class="columns large-12">
      <%= link_to 'Back', property_items_path %>
    </div>
  </div>
</div>