
.background-image {
  background-image: url('tools-background-smaller.jpg');
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.transparency {
  background-color: rgba(248, 248, 248, 0.6);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
}