// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.ui-datepicker-calendar {
  display: none;
}
.ui-datepicker {
  width: 30em !important;
}

.items-listing a:hover p {
  font-weight: bold;
  color: #446876;
}