.property {
  background-color: white;
}

.header-panel {
  overflow: auto;
  position: relative;
  margin-bottom: 0 !important;

  h1 {
    display: inline;
    padding-right: 5px;
  }

  .subtitle {
    position: absolute;
    bottom: 0;
  }

  .inline-list {
    float: right;
  }

  .header-actions {
    bottom: 0;
    position: absolute;
    right: 0;
  }
}

.first-row {
  padding-top: 30px;
}

.item-title {
  font-size: 2em;
}

.item-notes {
  margin-left: 0 !important;
}

.pull-right {
  float: right !important;

  strong {
    text-align: right;
  }
}